.files > .border {
  margin-top: 36px;
  width: 475px;
  height: 280px;
}

.files table, .overlay table {
  width: 100%;
  text-align: left;
}

.files table {
  font-size: 1.2em;
}

.files table tr:nth-of-type(even) {
  background: rgba(0, 255, 255, 0.13);
}

.overlay > .border-trbl {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 0;
  left: 0;
  right: 0;
  bottom: 70px;

  padding: 26px;
}

.overlay > .border-trbl > div {
  overflow: hidden;
  overflow-y: auto;
}

.overlay .back-btn {
  position: absolute;
  bottom: 0;
  right: 0;

  font-size: 26px;
  font-family: 'Montserrat';
  text-align: center;

  width: 200px;
  height: 42px;
}

.files.anim-enter {
  margin-left: -100vw;
  opacity: 0;
}
.files-anim-leave, .files.anim-enter-active {
  margin-left: 0;
  opacity: 1;
}
.files.anim-leave-active {
  margin-left: 100vw;
  opacity: 0;
}
.files.anim-enter-active, .files.anim-leave-active {
  transition: margin-left 0.3s, opacity 0.3s;
}

.overlay.anim-enter, .overlay.anim-leave-active {
  opacity: 0;
  transform: scale(0.6);
  visibility: hidden;
}
.overlay-anim-leave, .overlay.anim-enter-active {
  opacity: 1;
  transform: scale(1);
  visibility: visible;;
}
.overlay.anim-enter-active {
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.overlay.anim-leave-active {
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.files .menu-btn {
  transform: scale(0.6);
}

.files.anim-enter .menu-btn {
  opacity: 0;
  visibility: hidden;
  margin-left: 80px;
}
.files.anim-enter-active .menu-btn {
  opacity: 1;
  visibility: visible;
  margin-left: 0;
  transition: opacity 0.3s 0.3s, visibility 0.3s 0.3s, margin-left 0.3s 0.3s;
}

.files-anim-leave .menu-btn {
  opacity: 1;
  visibility: visible;
}
.files.anim-leave-active .menu-btn {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
