.menu-btn {
  position: absolute;
}

.menu-btn > div,
.menu-btn > div::before,
.menu-btn > div::after {
  position: absolute;
  width: 50px;
  height: 86px;
  border: solid white;
  border-width: 1px 0;
  transform: translateY(-50%);
}

.menu-btn > div::before, .menu-btn > div::after {
  display: block;
  content: '';
  transform: rotate(60deg);
}

.menu-btn > div::after {
  transform: rotate(-60deg);
}

.menu-btn > img {
  position: absolute;
  transform: translate(-24px, -43px);
}

.menu.anim-enter {
  opacity: 0;
  visibility: hidden;
}
.menu.anim-enter-active {
  opacity: 1;
  visibility: visible;;
}
.menu.anim-leave {
  opacity: 1;
  visibility: visible;;
}
.menu.anim-leave-active {
  opacity: 0;
  visibility: hidden;
}
.menu.anim-enter-active, .menu.anim-leave-active {
  transition: opacity 0.3s, visibility 0.3s;
}
